body {
	font-family: 'Open Sans', 'Encode Sans Expanded', sans-serif;

}

.inputs {
	margin: 1%;
}

.inputs > button {
	margin-top: 10px;
}

img {
	height: 30%;
	width: 30%;
}

input[type=text] {
    width: 130px;
    -webkit-transition: width 0.4s ease-in-out;
    transition: width 0.4s ease-in-out;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 100%;
}

.link {
		margin-top: 50px;
}

.inputs {
	display: inline-block;
}
/*#search {
	margin-top: 50px;
}*/