body {
    height: 100%;
    margin: 0;
    overflow: hidden
}

canvas {
    position: fixed;
    width: 100%;
    height: 100%;
}

.hidden {
    display: none;
}

#sky {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: #0AB;
}

#skygradient {
    position: fixed;
    width: 100%;
    height: 100%;    
    opacity: 0;
    background: linear-gradient(rgba(0,0,0,0) 50%, orange);
}

#stars {
    position: fixed;
    width: 100%;
    height: 100%;    
    background: none;
    background-image: url('http://www.wearewebstars.dk/codepen/img/s2.png'), url('http://www.wearewebstars.dk/codepen/img//s3.png');
    left: 0;
    top: 0;
    opacity: 0;
    pointer-events: none;    
}

#sun {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 100%;
    right: 50%;
    margin: 0 auto;
    background-image: linear-gradient(yellow, red);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
    -webkit-transform: perspective(1px) translateX(50%);
    transform: perspective(1px) translateX(50%);
}

#moon {
    position: fixed;
    width: 100px;
    height: 100px;
    top: 100%;
    margin: 0 auto;
    background-image: linear-gradient(#DDD, #999);
    right: 50%;
    -webkit-transform: perspective(1px) translateX(50%);
    transform: perspective(1px) translateX(50%);
    -moz-border-radius: 50%;
    -webkit-border-radius: 50%;
    border-radius: 50%;
}

.mountain {
    position: fixed;
    height: 55%;
    bottom: -50%;
}

.clouds {
    position: absolute;
    width: 100%;
    height: 100%;
    bottom: 100%;
    background-position: bottom;
    background-repeat: repeat-x;
    background-size: contain;
    pointer-events: none;  
}

#cloud1 {
    background-image: url("https://res.cloudinary.com/ackmandesu/image/upload/v1486752997/Weather%20App/cl3.svg");
    animation-delay: 1200;
    -webkit-animation: 1000s slide infinite linear;
    -moz-animation: 1000s slide infinite linear;
    -o-animation: 1000s slide infinite linear;
    animation: 1000s slide infinite linear;
}

#cloud2 {
    background-image: url("https://res.cloudinary.com/ackmandesu/image/upload/v1486752752/Weather%20App/drawing.svg");
    animation-delay: 1200;
    -webkit-animation: 1000s slidet infinite linear;
    -moz-animation: 1000s slidet infinite linear;
    -o-animation: 1000s slidet infinite linear;
    animation: 1000s slidet infinite linear;
}

#ground {
    position: fixed;
    width: 100%;
    height: 10%;
    bottom: 0px;
    background-color: #593b22;
}

#darkness {
    position:fixed;
    width: 100%;
    height: 100%;
    top:0;
    opacity: 0;
    background-color: #000;
    pointer-events: none;    
}

#y {
    position: fixed;
    width: 20%;
    height: 9%;
    bottom: 5px;
    left: 10%;
    color: #888;
    background-color: rgba(150,150,150,0);
}

#y p {
    color: #888;
    font-size: 2.5vh;
    white-space: nowrap;
    line-height: 2.5vh;
    margin: 2%;
    margin-left: 10px;
}

#x {
    position: fixed;
    width: 60%;
    height: 9%;
    bottom: 5px;
    right: 10%;
    color: #888;
    background-color: rgba(150,150,150,0);;
}

#x p {
    color: #888;
    font-size: 2.5vh;
    display: inline;
    white-space: nowrap;
    margin-left: 10px;
}

#x sup {
    font-size: 1.5vh;
}

#map {
    width: 100%;
    height: 400px;
 }

#icon {
    position: fixed;
    width: auto;
    height: 40px;
    bottom: 3%;
    left: 5%;
}


/* Shadows */ 
.mountain, .clouds, #sun, #ground {
    -webkit-filter: drop-shadow(0 0 10px #222);
    filter: drop-shadow(0 0 10px #222);
}

#moon {
    filter: drop-shadow(0 0 20px #AAA);
}


/* Animations */
@keyframes slide{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: -10000px bottom;
    }
}

@-moz-keyframes slide{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: -10000px bottom;
    }
}

@-o-keyframes slide{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: -10000px bottom;
    }
}

@-webkit-keyframes slide{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: -10000px bottom;
    }
}

@keyframes slidet{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: 10000px bottom;
    }
}

@-moz-keyframes slidet{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: 10000px bottom;
    }
}

@-o-keyframes slidet{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: 10000px bottom;
    }
}

@-webkit-keyframes slidet{
    0%{
        background-position: 0px bottom;
    }    
    100%{
        background-position: 10000px bottom;
    }
}
}
}